<h1>dashboard works!</h1>


<div class="listing-dashboard">
    <div class="table-responsive">
        <table *ngIf="dragon">
            <thead>
                <tr>
                    <th>S:NO</th>
                    <th>Name</th>
                    <th>E-Mail</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let war of dragon">
                    <td>1</td>
                    <td>{{war.Name}}</td>
                    <td>{{war.Email}}</td>
                    <td>{{war.Phone}}</td>
                    <td>
                        <a routerLink="/View"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a routerLink="/Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a><i class="fa fa-trash" aria-hidden="true"></i></a>   
                    </td>
                </tr>
              
            </tbody>
        </table>
    </div>
</div>
