<div class="header">
    <h1>Editable Work </h1>
    <a routerLink="/Dashboard">Back</a>
</div>
<div class="editor">
    <div class="form-half">
        <label>Name</label>
        <input type="text" placeholder="Enter the Name" />
    </div>
    <div class="form-half">
        <label>E-mail</label>
        <input type="text" placeholder="Enter the E-mail" />
    </div>
    <div class="form-half">
        <label>Phone</label>
        <input type="text" placeholder="Enter the Phone" />
    </div>
</div>